


.container {
  position: relative;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* Hide the browser's default radio button */
.container input {
  position: absolute;
  right: 0;
  opacity: 0;
  cursor: pointer;
}

/* Create a custom radio button */
.checkmark {
  position: absolute;
  top: 4px;
  right: 0;
  height: 14px;
  width: 14px;
  border: 1px solid #a8a8a8;
  border-radius: 4px;
  overflow: hidden;
}

.border-check {
  border: 1px solid #30d291 !important;
  background: #30d291;
}

.icon-check {
  position: absolute;
  right: 0;
  z-index: 10;
  top: 6px;
  transform: scale(0.9);
  // display:none;
}




/* On mouse-over, add a grey background color */
.container:hover input ~ .checkmark {
  background-color: white;
  border: 1px solid #a8a8a8;
  border-radius: 4px;
  overflow: hidden;
}

/* When the radio button is checked, add a blue background */
.container input:checked ~ .checkmark {
  background-color: white;
  border: 1px solid #a8a8a8;
  border-radius: 4px;
  overflow: hidden;
}

/* Create the indicator (the dot/circle - hidden when not checked) */
.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the indicator (dot/circle) when checked */
.container input:checked ~ .checkmark:after {
  display: block;
}

/* Style the indicator (dot/circle) */
.container .checkmark:after {
  top: 0;
  left: 0;
  width: 12px;
  height: 12px;
  background: #5e35b1;
}


.container .checkmark.disable:after {
  pointer-events: none;
  //background: white;
}
