
.limiter {
  width: 100%;
  margin: 0 auto;
}
.login {
  /*display: flex;
  width: 50%;
  flex-wrap: wrap;*/
  min-height: 100vh;
  align-items: center;
  justify-content: center;
  background: #f0ecf9;
  border-left: 1px solid #d2c5ed;
  overflow:hidden;
}
.img {
  /*display: flex;
  width: 50%;
  flex-wrap: wrap;*/
  min-height: 100vh;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  background: url('assets/image/loginNew.svg') no-repeat 50%;
  background-size: 60%;
}









